.page-container {
	width: 100vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.body {
	width: 90%;
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.product-list {
	display: flex;
	justify-content: center;

	flex-wrap: wrap;
}
.list-heading {
	margin: 1rem;
	text-align: center;
	font-size: 28px;
	color: #d14086fc;

	font-weight: 600;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
