.answer-card {
  width: 130px;
  height: 40px;
  background: transparent linear-gradient(180deg, #d14086fc 0%, #bc2f2cd9 100%)
    0% 0% no-repeat padding-box;

  border-radius: 7px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}
.answer-card:hover {
  mix-blend-mode: normal;
  opacity: 1;
  color: #d14086;
  background: transparent linear-gradient(180deg, #ec8dbbfc 1%, #ffffffd9 100%)
    0% 0% no-repeat padding-box;
  border: none;
}
.selected_chip {
  background: transparent linear-gradient(180deg, #630030fc 0%, #920200d9 100%)
    0% 0% no-repeat padding-box;
  border: none;
}

.image-card {
  border: 3px solid #ffffff;
  width: 50px;
  height: 50px;
  margin: 5px;
}
